---
layout: default
permalink: /
class: --home
redirect_from:
 - /projects.html
 - /about.html
 - /contact.html
---
{% assign display_graphics = site.data.graphics | where:"display", nil %}
{% assign evergreens = display_graphics | where:"category", "evergreen" %}
{% assign events = display_graphics | where:"category", "event" %}
{% assign stories = display_graphics | where:"category", "story" %}
<div class="row" style="margin-bottom: 1rem;">
  <div class="medium-2 medium-offset-1 columns medium-text-right column-label"><h6 style="line-height: 1;">Bloomberg Graphics</h6></div>
  <div class="medium-8 columns end">
    <p>My work at Bloomberg is varied and covers everything from publishing infrastructure and templating to breaking news graphics. I've munged data and created flexible interactive charts for data-driven evergreens: {% include graphics-list.html graphics=evergreens %}. I've worked on high-pressure, high-volume dashboard for events with real-time results {% include graphics-list.html graphics=events %}. I also get to help my fantastic data journalist and reporter colleagues create standalone stories such as {% include graphics-list.html graphics=stories %}.</p>
    <p><a href="https://www.bloomberg.com/authors/AS07h2XMulM/brittany-harris">See what I've been working on recently</a>.
  </div>
</div>
<div class="row" style="margin-bottom: 1rem;">
  <div class="medium-2 medium-offset-1 columns medium-text-right column-label"><h6 style="line-height: 1;">Consulting Work</h6></div>
  <div class="medium-8 columns end">
    <div class="row small-up-2 large-up-3">
      {% for page in site.work %}
      <div class="column" style="margin-bottom: 1rem;"><a class="post-link" href="{{ page.url | prepend: site.baseurl }}" title="{{ page.title }}"><img src="{{ page.thumbnail-url }}"></a></div>
      {% endfor %}
    </div>
  </div>
</div>
