<footer class="site-footer">
  <div class="row">
    <div class="small-2 small-offset-2 columns">
      <ul class="social-media-list">
        {% if site.github_username %}
        <li>
          <a href="https://github.com/{{ site.github_username }}">Github</a>
        </li>
        {% endif %}

        {% if site.twitter_username %}
        <li>
          <a href="https://twitter.com/{{ site.twitter_username }}">Twitter</a>
        </li>
        {% endif %}

        {% if site.instagram_username %}
        <li>
          <a href="https://instagram.com/{{ site.instagram_username }}">Instgram</a>
        </li>
        {% endif %}

        {% if site.linkedin_username %}
        <li>
          <a href="https://linkedin.com/pub/{{ site.linkedin_username }}">Linkedin</a>
        </li>
        {% endif %}
      </ul>
    </div>
  </div>
</footer>
