@include component(page) {
    @include option(cv) {
        font-size: 12px;
        .title {
            font-size: 1em;
            letter-spacing: 0.1em;
            text-transform: uppercase;
        }
        h2 {
            font-weight: 700;
            font-size: 1.075em;
            margin: 0;
        }
        h3 {
            font-weight: 400;
            font-size: 1em;
            margin: 0;
        }
        p {
            font-weight: 300;
            font-size: 1em;
        }
        .list {
            .title {
                text-align: right;
            }
        }
    }
}
