---
layout: default
---

<div class="row"><h6 class="subheader medium-11 medium-centered columns">Hey! Thanks for visiting. This is an older project that I worked on while in school. If you want to see what I've been up to recently, <a href="/">visit my new homepage.</a></h6></div>

<div class="page">

  <header class="row">
    <div class="medium-11 medium-centered columns">
      <h2>{{ page.title }}</h2>
    </div>
  </header>

  <article class="row">
    <div class="medium-11 medium-centered columns">{{ content }}</div>
  </article>

</div>
